/* styles.css */
ul {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Container styles */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Form styles */
form {
    margin-bottom: 20px;
    background-color: #ddd;
    padding: 2rem;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="date"] {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* APOD card styles */
#apodSection {
    margin-bottom: 5rem;
    padding: 2rem;
}

figure {
    margin: 0;
}

figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

#apodSection {
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#apodSection img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

#apodSection h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

#apodSection p {
    margin-bottom: 1rem;
}

#apodSection button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Favourites list styles */
#favouritesList {
    list-style-type: none;
    padding: 0;
}


#favouritesList li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 1rem 2rem;
}

#favouritesList img {
    width: 100px;
    height: auto;
    object-fit: cover;
    margin-right: 1rem;
}

#favouritesList h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

#favouritesList p {
    margin: 0;
}

#favouritesList button {
    margin-top: 5px;
    margin-right: 5px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.modal-content img {
    max-width: 100%;
    height: auto;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.view{
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    #favouritesList li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #favouritesList li img {
        width: 150px;
        margin-bottom: 1rem;
    }

}